body {
    background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    background: linear-gradient(to right, #004e92, #000428);

    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    max-width: 99%;
}

header {
    margin: 30px 0;
}

h1 {
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    margin-top: 2rem;
}

h2 {
    color: #d1d1e0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.card {
    background-color: #212529;
    color: #FFFFFF;

}

.card-header {
    background-color: #6C757D;
    color: #FFFFFF;
}

.card-body {
    font-size: 1.2rem;
}

.footer {
    background-color: #24292e;
    color: #fff;
    padding: 20px;
}

.footer a {
    color: #d1d1e0;
}

.margen_seccion {
    margin-top: 70px;
    margin-bottom: 30px;
}

.justificado{
    text-align: justify;
}

.centrado{
    justify-content: center;
    display: flex;
}

#navbarNav {
    transition: height .3s linear;
}

.btn_repo {
    display: block; 
    color: white;
    background-color: #6B80EB;
}
.btn_proyect {
    display: block; 
}

#cft{
    margin-left: 10%;
}